/* START NAV MENU */
nav {
  background-color:#2C5463;
  height:40px;
}
 
 
nav ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
 
}
 
nav li ul { 
  display: none; 
}
 
ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: #2C5463;
  color: #ffffff;  
  margin-left: 1px;
  height:30px; /* Width and height of top-level nav items */
  width:90px;
  text-align:center;
 
}
 
nav ul li a:hover { 
  background: #617F8A; 
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}
 
nav li:hover li {
  float: none;
  font-size: 11px;
 
}
 
nav li:hover a { 
  background: #3A464F; 
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #95A9B1; 
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
 
/* END NAV MENU */
nav {
  background-color:#2C5463; /*+*/
  height:40px;

}


#uno{
	text-shadow: 2px 1px 2px black;
}
 /*SIDE BAR*/

.container {
  display: table; // Needed
  width: 100%; // Needed
  height: 100%; // Needed
}
.row {
  display: table-row; // Needed
}
.left,
.right,
.center {
  display: table-cell; // Needed
  padding: 20px;
}
.left,
.right {
  width: 20%;
  background: Aquamarine;
}
.center {
  background: Pink;
  border-right: solid 100px white;
}


// Reset / Styling
html,
body {
  height: 100%;
}
body {
  box-sizing: border-box;
}
h1 {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
}
p {
  margin: 0 0 20px 0;
}
ul {
  padding: 0 0 0 20px;
}

 /*END BAR*/
 header{
 	padding-top:0px;
 }
